appdirs==1.4.4
attrs==20.3.0
certifi==2020.6.20
chardet==3.0.4
conda==4.3.16
distlib==0.3.1
docx==0.2.4
docxtpl==0.11.2
filelock==3.0.12
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.7
pandas==1.1.5
Pillow==8.0.1
pipenv==2020.8.13
pluggy==0.13.1
py==1.9.0
pycosat==0.6.3
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2020.4
requests==2.24.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
toml==0.10.2
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
